* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

ul,
ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
}

input,
textarea,
button {
  font: inherit;
  border: none;
  color: inherit;
}

textarea {
  resize: none;
}

fieldset {
  border: none;
}

input,
textarea {
  outline: none;
}
