body {
  overflow: hidden;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  background-color: #2148c0;
  background-image: url("pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 300px;
  margin-inline: auto;
  margin-top: 160px;

  /* Масштабируем всё содержимое */
  transform: scale(1.25); /* Увеличение на 20% */
  transform-origin: top center; /* Точка, откуда масштабируем */
}

.start {
  user-select: none;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}

/* Общий класс для всех полей ввода */
.nameinput,
.mailinput,
.passinput {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

/* Общие стили для всех input */
.nameinput input,
.mailinput input,
.passinput input {
  width: 100%;
  height: 45px;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  border-radius: 8px;
  padding: 12px 16px 12px 50px;
  font-weight: 300;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
}

/* Общий placeholder */
.nameinput input::placeholder,
.mailinput input::placeholder,
.passinput input::placeholder {
  color: #fff;
}

/* Общий focus для всех input */
.nameinput input:focus,
.mailinput input:focus,
.passinput input:focus {
  border-color: #fff;
}

/* Специально для последнего поля (если нужен отступ) */
.passinput {
  margin-bottom: 40px; /* вместо margin-bottom у input */
}

/* Общий класс для ВСЕХ иконок (теперь работает для трех) */
.input_icon_one,
.input_icon_two,
.input_icon_three {
  position: absolute;
  user-select: none;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.confirm {
  width: 100%;
  border-radius: 4px;
  background-color: #fff;
  height: 45px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  color: #2148c0;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
