body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  background-color: #333;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  color: #333;
}
